body{
  font-family: "Trebuchet", Times, serif;
  font-style: normal;
  background-color:	hsl(219, 15%, 20%);
  color: #FFF;
  display: grid;
}
h5 {
    font-size: 80px;
}
h1 {
  font-size: 25px
}
p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 19px;
}
h3 {
  font-size: 18px;
  color: #007bff;
}
.well {
  background-color:hsl(219, 15%, 18%);
  border-color: #fff;
  }
strong {
  color: rgb(51, 122, 183);
}
h4 {
  color: #10BC61;
  font-size: 24px;
}
.thumbnail {
  background-color: #272C35;
  border-color: #232830;
}
.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  color: #FFF;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
}