@font-face {
  font-family: 'Trebuchet';
  font-weight: 1000;
  font-style: normal;
  src: url('../fonts/Trebuchet-regular/Trebuchet-regular.woff'),
       local('Trebuchet'),
       local('Trebuchet-regular'),
       url('../fonts/Trebuchet-regular/Trebuchet-regular.woff') format('woff'),
       url('../fonts/Trebuchet-regular/Trebuchet-regular.ttf') format('truetype');
}
body{
  font-family: "Trebuchet", Times, serif;
  font-style: normal;
  background-color:	hsl(219, 15%, 20%);
  color: #FFF;
  display: grid;
  padding:25px;
}
h5 {
    font-size: 80px;
}
h1 {
  font-size: 25px
}
h2 {
  font-size: 15px
}
p {
  font-size: 19px;
}
h3 {
  font-size: 18px;
  color: #007bff;
}
.well {
  background-color:hsl(219, 15%, 18%);
  }
strong {
  color: rgb(51, 122, 183);
}
h4 {
  color: #10BC61;
  font-size: 24px;
}
.thumbnail {
  background-color: #272C35;
  border-color: #232830;
}
.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  color: #FFF;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
}
.block {
  width: 1400px;
    border: 2.5px solid rgb(80, 127, 255);
    padding: 10px;
    margin-left: 0.3em;
  }
  .table {
    color: #10BC61;
  }
  h2 ul li {
    margin-bottom: 0.9em;
  }
  li span {
    position: relative;
    left: -35px;
    font-size: 17px;
  }
  li p {
    position: relative;
    left: -58px;
    font-size: 17px;
  }
  li h6 {
    position: relative;
    left: -20px;
    font-size: 17px;
  }
  table , .well , td {
    border-style: ridge ridge ;
    border-collapse: collapse;
    border: 5px ridge  rgb(128, 128, 128);
    border-width: thick thick 5px;
  }
 
 strong {
  color: #007bff;
 }
 mark {
  background-color: #4CAF50;
  color: black;
  
 }
 hr {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 0.1px;
  color:gray;
  background-color:gray
}