@font-face {
  font-family: 'Trebuchet';
  font-weight: 1000;
  font-style: normal;
  src: url('../fonts/Trebuchet-regular/Trebuchet-regular.woff'),
       local('Trebuchet'),
       local('Trebuchet-regular'),
       url('../fonts/Trebuchet-regular/Trebuchet-regular.woff') format('woff'),
       url('../fonts/Trebuchet-regular/Trebuchet-regular.ttf') format('truetype');
}
body{
  font-family: "Trebuchet", Times, serif;
  font-style: normal;
  background-color:	hsl(219, 15%, 20%);
  color: #FFF;
  display: grid;
  padding:25px;
}
h5 {
    font-size: 80px;
}
h1 {
  font-size: 25px
}
h2 {
  font-size: 15px
}
p {
  font-size: 19px;
}
h3 {
  font-size: 18px;
  color: #007bff;
}
.well {
  background-color:hsl(219, 15%, 18%);
  border-color: #fff;
  }
strong {
  color: rgb(51, 122, 183);
}
h4 {
  color: #10BC61;
  font-size: 24px;
}
.thumbnail {
  background-color: #272C35;
  border-color: #232830;
}
.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  color: #FFF;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
}
.block {
  width: 1400px;
    border: 2.5px solid white;
    padding: 10px;
  }